<h3>{{viewTitle}}</h3>

<form action="/movie" autocomplete="off" method="POST">
    <input name="_id" type="hidden" value="{{movie._id}}">
    <div class="form-group">
        <label>Movie Name</label>
        <input class="form-control" name="movieName" placeholder="Movie Name" type="text" value="{{movie.movieName}}">
        <div class="text-danger">
            {{movie.movieNameError}}
        </div>
    </div>
    <div class="form-group">
        <label>Genre</label>
        <input class="form-control" name="genre" placeholder="Genre" type="text" value="{{movie.genre}}">
        <div class="text-danger">
            {{movie.genreError}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Main Actor</label>
            <input class="form-control" name="mainActor" placeholder="Main Actor" type="text"
                   value="{{movie.mainActor}}">
        </div>
        <div class="form-group col-md-6">
            <label>Rating</label>
            <input class="form-control" name="rating" placeholder="Rating" type="text" value="{{movie.rating}}">
            <div class="text-danger">
                {{movie.ratingError}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-info" type="submit"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/movie/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>